
:root {
	--container-width: 1280px;
	--color-primary: #01719F;
	--color-primary-rgb: 1, 113, 159;
	--color-primary-light: #1E8EC5;
	--color-accent: #D3A92D;
	--color-accent-rgb: 211, 169, 45;
	--color-accent-light: hsl(45, 75%, 60%); /* Original has 65% saturation and 50% lightness */
	--color-accent-dark: hsl(45, 65%, 45%); /* Original has lightness of 50% */
	--color-light-gray: #E9ECF5;
	--color-light-gray-light: hsl(225, 38%, 98%); /* Original has lightness of 94% */
	--color-light-gray-rgb: 233, 236, 245;
	--opacity-background: 0.15;
	--border-width: 2px;
	--border-color: #ccc;
	--border-radius: .25rem;
}
@media (max-width: 640px) {
	:root {
		--homepage-padding: 1.2rem;
		--homepage-item-gap: 0.6rem;
		--homepage-service-padding: 0.75rem;
		--section-padding: 1rem;
	}
}
@media (min-width: 640px) {
	:root {
		--homepage-padding: 1.5rem;
		--homepage-item-gap: 0.75rem;
		--homepage-service-padding: 1rem;
		--section-padding: 1.5rem;
	}
}
@media (pointer: fine) {
	:root {
		--homepage-padding: 2.5rem;
	}
}


* {
	box-sizing: border-box;
}

@media (pointer: fine) {
	html {
		min-width: 1024px;
	}
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
}

body, h1, h2, h3, h4 {
	margin: 0;
}

main {
	@media (pointer: coarse) {
		padding-block: var(--homepage-padding);
	}
	@media (pointer: fine) {
		padding: 2rem var(--homepage-padding);
	}
}

h1 {
	font-weight: 500;
}

h2, h3 {
	font-weight: 600;
}

h4 {
	font-weight: bold;
}

h2 {
	@media (max-width: 640px) {
		font-size: 1.25rem;
	}
	@media (min-width: 640px) {
		font-size: 1.5rem;
	}
}

h3 {
	@media (max-width: 640px) {
		font-size: 1rem;
	}
	@media (min-width: 640px) {
		font-size: 1.25rem;
	}
}

article h2,
article h3 {
	@media (max-width: 640px) {
		margin-block: 1.5rem 0.5rem;
	}
	@media (min-width: 640px) {
		margin-block: 2rem 0.5rem;
	}
}
article p,
article li {
	margin-top: 0;
	@media (max-width: 640px) {
		font-size: 1rem;
	}
	@media (min-width: 640px) {
		font-size: 1.4rem;
	}
	color: rgba(0, 0, 0, 0.8);
}
article li + li {
	margin-top: 0.5rem;
}

a {
	text-decoration: none;
	color: inherit;
}

@media (min-width: 640px) {
	section {
		margin-top: 1rem;
	}
}

.container {
	max-width: var(--container-width);
	margin-inline: auto;
	padding-inline: var(--homepage-padding);
	padding-bottom: 0;
}

/* SvelteUI */
.svelteui-Badge-root.filled {
	background-color: var(--color-primary) !important;
}

/* Custom Scrollbar */
html {
	overflow-y: overlay;
	overflow-x: hidden;
}
html::-webkit-scrollbar {
	width: 8px;
}
html::-webkit-scrollbar-track {
	margin-block: 2px;
}
html::-webkit-scrollbar-thumb {
	background-color: silver;
	border: 1px solid lightgray;
	border-radius: 4px;
}
html::-webkit-scrollbar-thumb:hover {
	background-color: darkgray;
}

.shadow {
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

.card {
	border-radius: var(--border-radius);
}

.hidden {
	visibility: hidden;
}

.removed {
	display: none;
}

.light-gray-background {
	background-color: var(--color-light-gray);
}

.icon-container {
	display: grid;
	place-items: center;
	aspect-ratio: 1;
	border-radius: 50%;
}
